# React Frontend
node_modules
dist
dist-ssr
*.local

# Django Backend
.env
.venv/
__pycache__/
media/
static/
seed_data.py
db.sqlite3

certbot/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
